@import "colors.css";

* {
    border: 0;
    padding: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    color: @text;
}

window#waybar {
    background: @surface0;
    color: @text;
}

tooltip {
    border-radius: 8px;
    background-color: @surface1;
    font-size: 10px;
    color: @text;
}

#custom-launcher {
    padding: 3px 5px 3px 8px;
    margin: 4px;
    margin-left: 8px;
    border-radius: 8px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background: @surface1;
}

#custom-launcher:hover {
    background: @surface2;
    color: @gray;
}

#workspaces {
    border-radius: 8px;
    margin: 4px;
    background: @surface1;
}

#workspaces button {
    padding: 0 5px;
    border-radius: 6px;
    color: @text;
}

#workspaces button.focused,
#workspaces button.active{
    background-color: @surface2;
}

#workspaces button.urgent {
    background-color: @red;
}

#workspaces button:hover {
    background: @surface0;
}

#taskbar {
    margin: 4px;
    border-radius: 8px;
    background: @surface1;
}

#taskbar button {
    background: transparent;
    padding: 0 5px;
    border-radius: 6px;
    transition: background-color 0.3s ease-out;
}

#taskbar button:hover {
    background-color: transparent;
}

#taskbar button.active {
    background-color: @surface2;
    color: @text;
}

#pulseaudio,
#backlight,
#tray,
#temperature,
#battery{
    padding: 0 10px;
    margin: 4px;
    border-radius: 8px;
    background: @surface1;
}

#custom-power,
#custom-reboot,
#custom-quit,
#custom-lock{
    padding: 0 10px;
    margin: 4px 3px;
    border-radius: 8px;
    background: @surface1;
}

#custom-power{
    margin-right: 8px;
    color: @red;
}